<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>RSS生成器 - 提供微信公众号RSS订阅接口</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/1.12.0/semantic.min.css">
<style>
body { background-color: #F7F7F7; }
.container { background-color: #FFFFFF; margin: 0em auto; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05); border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; padding: 2em 2em 1em 2em; margin: 0px auto; width: 600px; position: relative;}
.ui.list .item a { color: #009fda !important; text-decoration: underline; }
.footer {text-align: center; padding-top: 80px;}
.ui.items>.item>.image:not(.ui) {width: 50px; height: 50px; }
.ui.items>.item>.image>img{border-radius: 25px;}
.user-items {font-size: 12px; padding-bottom: 20px;}
.ui[class*="very relaxed"].items>.item {padding: 1em 0px; border-bottom: 1px solid #eee; margin:0px;}
.search-title {font-size: 14px; padding-bottom: 10px;}
.user-items .item:hover{background-color: #fafafa; cursor: pointer;}
</style>
</head>
<body>
<div class="container">
    <h1 class="ui dividing header">
    	<i class="rss square icon"></i>
    	<div class="content">
    		RSS生成器
		    <p class="sub header">提供微信公众号RSS订阅接口</p>
    	</div>
    </h1>
	<form class="ui fluid action input form" id="search-form">
        <input type="text" placeholder="请输入微信公众号名称 或 微信号ID" id="search-text">
        <button class="ui icon button">
            <i class="search icon"></i>
        </button> 
    </form>

    <div class="ui very relaxed items user-items" id="user-items">
        
    </div>
    <!-- user-items end -->

	<div class="ui info message" style="display:none;" id="info-message">
		<div class="header">微信公众号RSS链接：</div>
	  	<p id="info-message-url"></p>
	</div>
    <div class="ui error message" style="display:none;" id="error-message">
        <div class="header">错误提示</div>
        <p id="error-message-txt"></p>
    </div>
	<div class="ui segment" style="margin-top:30px;display:none;">
		<div class="ui top attached label"><i class="list icon"></i> 搜索历史记录</div>
		<div>
			<div class="ui label">oIWsFt0GzJ9B8He5MfCo4DpkeYBg <i class="delete icon"></i> </div>
			<div class="ui label">oIWsFt0GzJ9B8He5MfCo4DpkeYBg <i class="delete icon"></i> </div>
		</div>
	</div>
	<h4 class="ui dividing header" style="display:none;">提示</h4>
	<div class="ui list">
        <div class="item" style="display:none;">
            <span>获取微信公众号openid方法：</span>
            <ul class="list">
                <li class="item">
                	<i class="right triangle icon"></i> 
                	<p class="content">
                		<a href="http://weixin.sogou.com/" target="_blank">搜狗</a> 搜索喜欢的微信公众号
                	</p>
                </li>
                <li class="item">
                	<i class="right triangle icon"></i> 
                    <p class="content">
                        通过URL获取openid，如: http://weixin.sogou.com/gzh?openid=<strong>oIWsFt0GzJ9B8He5MfCo4DpkeYBg</strong>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <p>        
            RSS-Builder on koajs run in iojs version v0.1.0
            <a class="popup icon github item" data-content="在GitHub中查看项目" href="https://github.com/wlwr/rss" target="_blank">
            <i class="alternate github icon"></i>
            </a> 
        </p>          
    </footer>


</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.js"></script>
<script>
$(function() {
    $('#search-form').submit(function() {
        var self = this;
        $('#user-items').hide();
        var keyword = $.trim($('#search-text').val());
        if (keyword.length === 0) {
            errorMessage('请输入微信公众号名称 或 openId');
        } else if (keyword.length == 28) {
            var url =  window.location.origin + '/weixin/' + keyword;
            var html = '<a href="' + url + '" target="_blank">' + url + '</a>';
            $('#info-message-url').html(html);
            $('#info-message').show();
        } else {
            $(this).addClass('loading');
            $.getJSON('/search/' + keyword, function(res) {
                $(self).removeClass('loading');
                if (res.error) {
                    return errorMessage(res.message);
                } else {
                    var users = res.data;
                    var html = '<h2 class="search-title">查询结果 (' + users.length + ')</h2>';
                    for (var i = 0; i < users.length; i++) {
                        var user = users[i];
                        var url =  window.location.origin + '/weixin/' + user.id;
                        var template = '<div class="item block-click" data-url="'+ url +'">' +
                            '<div class="image pic">' +
                            '<img src="'+ user.pic +'">' +
                            '</div>' +
                            '<div class="content">' +
                            '<p class="ui header" >'+ user.name +'</p>' +
                            '<div class="description">' +
                            '<p>'+ user.description +'</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        html += template;
                    };
                    $('#user-items').html(html).show();
                }
            });
        }
        return false;
    });
    $('body').on('click', '.block-click', function() {
        window.open($(this).attr('data-url'));
    });
});
var timer = null;
function errorMessage(msg) {
    clearTimeout(timer);
    $('#error-message').show();
    $('#error-message-txt').text(msg);
    timer = setTimeout(function() {
        $('#error-message').fadeOut();
    }, 2000);
}
</script>
</body>
</html>