<?xml version="1.0"?>
<rss version="2.0">
  <channel>
    <title>{{ rss.name }}</title>
    <link>{{ rss.url }}</link>
    <description>{{ rss.description }}</description>
    <language>zh-cn</language>
    <pubDate>{{ rss.formatDate }}</pubDate>
    <lastBuildDate>{{ rss.formatDate }}</lastBuildDate>
    	{% for item in rss.items  %}
        <item>
        	{% autoescape false %}
          	<title><![CDATA[{{ item.title }}]]></title>
        	{% endautoescape %}
         	 <link>{{ item.url }}</link>
          	<author>{{ rss.author }}</author>
          	{% autoescape false %}
            <description><![CDATA[ {{ item.fullContent ? item.fullContent : item.content }} ]]></description>
        	{% endautoescape %}
            
          	<pubDate>{{ item.formatDate }}</pubDate>
          	<guid>{{ 'weixin_' + item.docid }}</guid>
        </item>
    	{% endfor %}
  </channel>
</rss>    